html {
  background-color: #fbf8cc;
}
* {
  background-color: #fbf8cc;
  margin: 0;
  padding: 0;
}
nav a.navbar-brand {
  padding-left: 3%;
  color: #06155e;
  font-weight: 500;
  padding-right: 5%;
}
nav ul .nav-link {
  color: #06155e;
  font-size: larger;
  font-weight: 300;
}
nav ul .nav-link:hover {
  color: #06155e;
  font-weight: 400;
}
nav div {
  justify-content: end;
}
/* End of navigation bar */

.homepage .row {
  text-align: center;
}
.homepage .row h1 {
  color: #06155e;
  font-weight: 800;
}
.homepage .row h2 {
  padding-top: 5%;
  color: #06155e;
  font-weight: 600;
}
.homepage .row h4 {
  padding-top: 4%;
  color: #06155e;
  font-weight: 400;
  padding-bottom: 5%;
}
.homepage .row a {
  background-color: white;
  color: #06155e;
  font-weight: 600;
}
.homepage .row a:hover {
  background-color: yellow;
  margin: 2px;
}
